{% extends "mordor_server/layout.html" %}
{% load static %}
{% block content %}

{% for file in hidden_directories %}
<p class="hidden-dir">
{% if path and user.is_staff %}
    <a href="/list/{{ path }}/{{ directory }}">
{% else %}
    <a href="/list/{{ directory }}">
{% endif %}
    {{ directory }}</a></p>
{% endfor %}

{% for file in hidden_files %}
<p class="hidden-dir">
{% if path and user.is_staff %}
    <a href="/view/{{ path }}/{{ file }}">
{% else %}
    <a href="/view/{{ file }}">
{% endif %}
    {{ file }}</a></p>
{% endfor %}

{% for directory in directories %}
<p class="dir_entity">
{% if path %}
    <a href="/list/{{ path }}/{{ directory }}">
{% else %}
    <a href="/list/{{ directory }}">
{% endif %}
    {{ directory }}</a></p>
{% endfor %}

{% for file in files %}
<p class="dir_entity">
{% if path %}
    <a href="/view/{{ path }}/{{ file }}">
{% else %}
    <a href="/view/{{ file }}">
{% endif %}
    {{ file }}</a></p>
{% endfor %}

{% endblock %}